table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  td, th { 
    padding: 6px; 
    border: 1px solid rgb(2, 22, 6); 
    text-align: left; 
  }

  @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }

	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid rgb(1, 44, 14); 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
    input[type=text], input[type=date]{
        display: block;
        width: 10em;
        margin-top: 4px;
    }
    .upcoming td:nth-of-type(1):before { content: ""; }
	.upcoming td:nth-of-type(2):before { content: "No."; }
	.upcoming td:nth-of-type(3):before { content: "Date"; }
	.upcoming td:nth-of-type(4):before { content: "Mission"; }
	.upcoming td:nth-of-type(5):before { content: "Rocket"; }
	.upcoming td:nth-of-type(6):before { content: "Destination"; }
	



    .history td:nth-of-type(1):before { content: ""; }
	.history td:nth-of-type(2):before { content: "No."; }
	.history td:nth-of-type(3):before { content: "Date"; }
	.history td:nth-of-type(4):before { content: "Mission"; }
	.history td:nth-of-type(5):before { content: "Rocket"; }
	.history td:nth-of-type(6):before { content: "Customer"; }
	
}